@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    25deg,
    hsl(240deg 15% 13%) 0%,
    hsl(233deg 22% 15%) 11%,
    hsl(226deg 30% 17%) 23%,
    hsl(221deg 40% 18%) 36%,
    hsl(215deg 52% 19%) 48%,
    hsl(221deg 62% 26%) 61%,
    hsl(238deg 46% 36%) 74%,
    hsl(264deg 54% 40%) 87%,
    hsl(287deg 84% 36%) 100%
  );
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
